<html>
  <head>
    <link href="../styles/styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <h1>About Ironhack</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eu
      volutpat ex, nec varius diam. Class aptent taciti sociosqu ad litora
      torquent per conubia nostra, per inceptos himenaeos. Cras eros velit,
      pellentesque ac blandit quis, imperdiet ac libero. Etiam egestas id ipsum
      at rhoncus. Curabitur at viverra elit. Pellentesque sed nunc nec velit
      vehicula lacinia. Etiam eu magna at arcu congue suscipit sit amet in orci.
      Maecenas suscipit convallis gravida. In viverra sem in ipsum tincidunt,
      nec molestie felis venenatis. Nullam condimentum pretium dictum. Ut eget
      lorem est. Nulla ac dui ut lorem gravida vulputate vitae in nunc. Donec a
      facilisis nibh, ac convallis diam. Etiam at facilisis nibh, eget vulputate
      ante.
    </p>
  </body>
</html>
